* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none  !important;

}
*,
*:before,
*:after {
    box-sizing: border-box;
}

li {
    list-style: none;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body,
html,
.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.head{
    width: 100%;
}
.pic{
    width: 100%;
    display: block;
}
.foot {
    width:100%;
    height: auto;
    padding: 10px;
    margin-top: 0.4rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #f7f7f7;
}
.loogo{
    width: 225px;
    height: 41px;
}
.foot a{
    width:25%;
    height: 73px;
    position: absolute;
    text-align: center;
    color: #fff;
    right: 10px;
    top: 13px;
    line-height: 35px;
    background: url("../images/bg.png") no-repeat;
    background-size: 100%;

}
a:link {color:#fff !important;} /* 未访问的链接 */
a:visited {color:#fff !important;} /* 已访问的链接 */
a:hover {color:#fff !important;} /* 当有鼠标悬停在链接上 */
a:active {color:#fff !important;} /* 被选择的链接 */
.main{
    width:100%;
    height: 100%;
    overflow-y: auto;
}
.yellow_box{
    width: 100%;
    background: #ffce00;
}
.banLunbo{
    background: url("../images/ipadbg.png") no-repeat;
    background-size: 93%;
    margin-top: 20px;
    margin-left: 5%;
    padding: 20px 10px 10px 0px;
    position: relative;
}
/*ul{
    margin: 0 !important;
}*/
.banLunbo ul{width:86%;height:auto;}
.banLunbo ul li{display: none; width: 100%}
.banLunbo ul li img{width:98%;}
.banLunbo ul li.on{display: block}
.banLunbo ol{position: absolute;left:32%;width:95px;bottom:30px;}
.banLunbo ol li{float:left;width:12px;height:12px;text-align: center;background:url("../images/wihte_03.png");margin-right:3px;}
.banLunbo ol li.tt{background:url("../images/blue_03.png");}
.loading{width:335px;height:404px;float:right;}
.logo{
    width: 100%;
}
.lun{
    width: 100%;
    padding-bottom: 20px;
}
.logo1{
    margin-left: 20%;
    margin-top:5%;
    width: 60%;
}
.logo1{
    margin-left: 20%;
    margin-top:5%;
    width: 60%;
}
.logo1{
    margin-left: 20%;
    margin-top:5%;
    width: 60%;
}
.bai_box{
    width: 100%;
}
.bai_bg{
    width: 100%;
    height: 34px;
    background:url("../images/baibo.png") no-repeat;
    background-size: 100%;
}
.bai_box{
    width: 100%;
    background: #f7f7f7;
}
dd,dt{
    margin-top: 0 !important;
}
.center{
    text-align: center;
    font-size: 14px;
    line-height: 25px;
}
.green_bg{
    width: 100%;
    height: 41px;
    background:url("../images/lvbo.png") no-repeat;
    background-size: 100%;
}
.zi_bg{
    width: 100%;
    height: 31px;
    background:url("../images/zibo.png") no-repeat;
    background-size: 100%;
}
.font{
    font-size: 16px;
    padding-bottom: 10px;
}
.font2{
    color: #fff;
}
.font1{
    font-size: 14px;
    
}
.green_box{
    width: 100%;
    background: #8dd231;
}
.zi_box{
    width: 100%;
    background: #fda129;
}
.k_div{
    width: 100%;
    height: 80px;
    visibility: hidden;
}
.shou1{
    width: 100%;
    padding: 5% 0;
}
.shou1 img{
    width: 70%;
    margin-left: 15%;
}
.list{
    width: 100%;
    padding-bottom: 5%;
}
.list dl{
    width: 100%;
    display: -webkit-box;
    margin: 0 !important;
}
.list dl dt{
    margin: 0 10px;
    width: 92px;
}
.list dl dt img{
    width: 92px;
    height: 92px;
}
.list dl dd{
    -webkit-box-flex: 1;
    margin-top: 7px !important;
}
.list dl dd h3{
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 10px 0 !important;
}
.list dl dd p{
    color: #fff;
    font-size: 14px;
    margin: 0 !important;
}
.dd1{
    margin-left: 15px;
}
.dd2{
    margin-right: 10px;
    margin-left: 0 !important;
}