/*col*/
	body{height:2500px;background:#1d1a23;}
	.col{width:1010px;height:50px;border-bottom:3px solid #fcc629;margin:0 auto;}
	.col .list{width:1010px;height:50px;background:url(../img/l-1.jpg) no-repeat 15px 5px;}
	.col .list li{height:20px;padding:15px 30px;}
	.col .list li a{font-size:12px;font-family:'Î¢ÈíÑÅºÚ';color:#CCCCCC;}
	.col .list .one1{background:url(../img/l-5.jpg) no-repeat 95px center;border-right:1px solid #e1e1e1;}
	.col .list .one2{background:url(../img/l-5.jpg) no-repeat 95px center;border-right:1px solid #e1e1e1;}
	.col .list .one3{background:url(../img/l-5.jpg) no-repeat 95px center;border-right:1px solid #e1e1e1;}
	.col .list .one4{background:url(../img/l-4.jpg) no-repeat left center;border-right:1px solid #e1e1e1;}
	.col .list .one5{background:url(../img/l-3.jpg) no-repeat left center;}
	.col .list .one6{background:url(../img/l-2.jpg) no-repeat left center;}/*con-2*/
	.con-2{width:1010px;height:550px;margin:0 auto;background:url(../img/l-6.jpg) no-repeat;}
	.con-2 .c2-list{height:110px;}
	.con-2 .c2-list li{padding:0 20px;}
	.con-2 .c2-list li a{display:block;width:100%;height:110px;line-height:110px;font-size:14px;color:#ced5f2;}
	.con-2 .c2-1{position:fixed;top:300px;left:170px;}
/*con-3*/
	.con-3{width:1010px;height:110px;margin:0 auto;background:#000;}
	.con-3 .c3-list li{background:url(../img/sprite.jpg) no-repeat left center;text-indent:-999px;}
	.con-3 .c3-list .bg-1{width:218px;height:110px;background-position:0 0;}
	.con-3 .c3-list .bg-2{width:98px;height:110px;background-position:-217px 0;}
	.con-3 .c3-list .bg-3{width:98px;height:110px;background-position:-317px 0;}
	.con-3 .c3-list .bg-4{width:98px;height:110px;background-position:-417px 0;}
	.con-3 .c3-list .bg-5{width:98px;height:110px;background-position:-517px 0;}
	
	.con-3 .c3-r{width:383px;height:110px;}
	.con-3 .c3-r .r-top{height:55px;background:url(../img/l-9.png) no-repeat;}
	.con-3 .c3-r .r-top p{font-size:12px;height:22px;line-height:22px;color:#adb9e0;padding-left:90px;}
	.con-3 .c3-r .r-top span{color:#FF0000;}
	.con-3 .r-bottom{background:url(../img/sprite.jpg) no-repeat 5px -218px;height:55px;color:#adb9e0;margin-top:4px;height:50px;}
	.con-3 .r-bottom p{height:50px;line-height:50px;}
	.con-3 .r-bottom  a{color:#FF0000;text-decoration:underline;font-size:14px;}

/*con-4*/	
	.con-4{width:1010px;height:303px;margin:0 auto;}
	.con-4 .c4-left{width:616px;height:303px;}
	
	.con-4 .c4-right{width:383px;height:303px;}
	.con-4 .c4-right .c4-top{width:383px;height:58px;background:url(../img/sprite.jpg) no-repeat 0 -262px;}
	.con-4 .c4-right .c4-1{width:93px;height:58px;line-height:58px;color:#FFFFFF;text-align:center;}	
	.con-4 .c4-right .c4-2{width:93px;height:58px;line-height:58px;color:#FFFFFF;text-align:center;}	
	.con-4 .c4-right .c4-3{width:93px;height:58px;line-height:58px;color:#FFFFFF;text-align:center;}	
	.con-4 .c4-right .c4-4{width:93px;height:58px;line-height:58px;color:#FFFFFF;text-align:center;}	
	.con-4 .c4-right .c4-top :hover {background:url(../img/sprite.jpg) 0 -320px;}
	
	.con-4 .c4-bottom{width:383px;height:245px;background:#322e3f;margin-top:58px;position:relative;}
	.con-4 .c4-bottom .b{position:absolute; left:18px; top:17px;width:347px; height:34px;background:url(../img/l-12.jpg);line-height:34px; text-align:center; color:#e93d03; font-size:14px; font-weight:bold;}
	.con-4 .c4-bottom ul{padding-top:60px;}
	.con-4 .c4-bottom li{height:20px;padding:5px 5px 0 20px;}
	.con-4 .c4-bottom a{color:#9ca7ca;font-size:14px;height:20px;line-height:24px;font-family:'Î¢ÈíÑÅºÚ';}
	.con-4 .c4-bottom span{;font-family:'Î¢ÈíÑÅºÚ';font-size:14px;color:#9ca7ca;}
	
	.con-4 .c4-bottom a:hover{color:#F69;}
/*con-5*/		
	
	.con-5{width:1010px;height:195px;margin:0 auto;background:#1b1924;}
	.con-5 img{margin:30px 1px;}
/*con-6*/	
	.con-6{width:1010px;height:350px;margin:0 auto;margin-top:20px;}
	.con-6 .c6-left{width:660px;height:350px;border:1px solid #433b4f;}
	.con-6 .c6-right{width:340px;height:350px;border:1px solid red;}
	.con-6 .c6-left .c6-top{width:660px;height:58px;background:url(../img/sprite.jpg) no-repeat 0 -412px;text-indent:-999px; }
	.c6-left .c6-top a{width:105px;height:58px;display:block;}
	
	 .c6 .c6-bot{background:url(../img/l-13.jpg) no-repeat; width:656px; height:287px;position:relative;}
	 .c6 .c6-bot a{width:125px;height:70px;position:absolute;left:21px; bottom:32px;}
	
	.con-6 .c6-right{width:338px; height:350px;border:1px solid #433b4f;background:#000;}

	 .c6-right .top .c6-r{width:338px; height:46px;font-size:18px; color:#f3ca90; font-family:'Î¢ÈíÑÅºÚ';margin:4px 0 0 14px;padding-left:40px;line-height:46px;background:url(../img/l-15.jpg) no-repeat left center;}
	
	 .c6-right .top img{width:338px;height:149px;border:2px solid #433b4f;margin-bottom:10px;}
	 .c6-right .bot li{ width:338px; height:25px;background:url(../img/sprite.jpg) no-repeat 0 -530px;position:relative;}
	 .c6-right .bot li a{position:absolute; left:28px; top:4px; color:#a1add2; font-family:'Î¢ÈíÑÅºÚ';}
	 .c6-right .bot li span{position:absolute; right:25px; top:4px; color:#a1add2; font-family:'Î¢ÈíÑÅºÚ';}
/*con-7*/
	.con-7{width:1010px;height:800px;margin:0 auto;border:1px solid #787878;}
	.c7-left{width:212px;height:800px;}
	.c7-left .c7-1{position:relative;background:url(../img/sprite.jpg) no-repeat -1px -556px;width:212px; height:187px;margin-bottom:10px; }
	.c7-left .c7-1 p{height:42px; line-height:42px; font-size:16px; font-family:'Î¢ÈíÑÅºÚ'; color:#dbca90; text-align:center;}

	.c7-left .c7-1 .list-1{position:absolute;left:22px; top:60px;color:#9587ab;}
	 .c7-1 .list-1 a, .c7-1 .list-2 a{display:block; font-size:14px; font-family:'Î¢ÈíÑÅºÚ'; color:#9587ab; margin-bottom:10px;}
	.c7-left .c7-1 .list-2{position:absolute;left:115px; top:60px;color:#9587ab; }
	.c7-1 a:hover{color:#F69;}

	.c7-left .c7-2{display:block; width:213px; height:262px; }
	.c7-left .c7-3{display:block; width:210px; height:36px;text-align:center;line-height:36px;background:url(../img/sprite.jpg) no-repeat -451px -273px;font-size:15px; font-family:'Î¢ÈíÑÅºÚ'; color:#9587ab;}
	.c7-left .c7-4{display:block; width:213px; height:268px;background:url(../img/l-18.jpg) no-repeat; }
/*ÖÐ¼ä*/
	.c7-m{width:428px; height:800px;border:1px solid #787878;}
	
	.c7-m .c7-b1 p{width:428px; height:43px; line-height:43px; font-size:19px; font-family:'Î¢ÈíÑÅºÚ'; color:#f4cb8b;}
	.c7-m .c7-b2 a{display:block;width:105px; height:46px;line-height:46px; text-align:center; color:#a295b7; font-family:'Î¢ÈíÑÅºÚ'; border:1px solid #433b4f;border-bottom:0; } 
	.c7-m .c7-b2 a:hover{background:#322b3c;color:#fefeff;}
	.c7-m .c7-b3{width:425px;height:255px;position:relative; border:1px solid #433b4f;margin-bottom:30px;}
	.c7-m .c7-b3 .b3-1{position:absolute; left:15px; top:23px; width:105px; height:197px; border:1px solid #433b4f;}
	.c7-m .c7-b3 ul{position:absolute;left:138px; top:23px;}
	.c7-m .c7-b3 ul li a{color:#6678ab;font-size:14px;font-family:'Î¢ÈíÑÅºÚ';height:25px;line-height:25px;}
	.c7-m .c7-b3 ul a:hover{color:#FF3399;}
/*ÖÐ¼äÖØ¸´Ã½Ìå×¨Çø*/
	.c7-m{width:428px; height:800px;}

	.c7-m .c7-b1 p{width:428px; height:43px; line-height:43px; font-size:19px; font-family:'Î¢ÈíÑÅºÚ'; color:#f4cb8b;}
	.c7-m .c7-b2 a{display:block;width:105px; height:46px;line-height:46px; text-align:center; color:#a295b7; font-family:'Î¢ÈíÑÅºÚ'; border:1px solid #433b4f;border-bottom:0; } 
	.c7-m .c7-b2 a:hover{background:#322b3c;color:#fefeff;}
	.c7-m .c7-b3{width:425px;height:255px;position:relative; border:1px solid #433b4f;margin-bottom:30px;}
	.c7-m .c7-b3 .b3-1{position:absolute; left:15px; top:23px; width:105px; height:197px; border:1px solid #433b4f;}
	.c7-m .c7-b3 ul{position:absolute;left:138px; top:23px;}
	.c7-m .c7-b3 ul li a{color:#6678ab;font-size:14px;font-family:'Î¢ÈíÑÅºÚ';height:25px;line-height:25px;}
	.c7-m .c7-b3 ul a:hover{color:#FF3399;}
	
/*ÓÒ*/	
	.c7-right{width:322px; height:800px;}
	
	.c7-right .c7-c{width:428px; height:43px; line-height:43px; font-size:19px; font-family:'Î¢ÈíÑÅºÚ'; color:#f4cb8b;}
	.c7-right .c7-c1{border:1px solid #433b4f;}
	.c7-right .c7-c1 p{height:30px;line-height:30px; border-bottom:1px dashed #433b4f; color:#594f67; padding-top:16px;font-size:14px;}
	.c7-right .c7-c1 span{display:inline-block; background:url(../img/l-20.jpg) no-repeat; width:78px; height:26px; line-height:26px; text-indent:10px; color:#fff; font-family:'Î¢ÈíÑÅºÚ';margin-right:18px; }
/*	.c7-right .c7-c1  .last{border-bottom:none;}*/
	
	.c7-right .c7-c2{width:279px; height:39px; border:3px solid #4b3f5c; line-height:39px; text-align:center; font-size:22px; font-family:'Î¢ÈíÑÅºÚ'; color:#b1a1ca;margin-bottom:70px;}
	.c7-right .c7-d p{width:428px; height:43px; line-height:43px; font-size:19px; font-family:'Î¢ÈíÑÅºÚ'; color:#f4cb8b;margin-top:30px;}
	 .list-7 a{display:block;width:105px; height:46px;line-height:46px; text-align:center; color:#a295b7; font-family:'Î¢ÈíÑÅºÚ'; border:1px solid #433b4f;border-bottom:0; }
	.list-7 a:hover{background:#322b3c;color:#FFFFFF;}
	 .img-1{margin:20px;margin-bottom:30px;}

	
	
/*½áÎ²*/		
	.con-8{width:1010px;height:30px;margin:0 auto;margin-top:30px;}
/*ÎÄ×Ö*/		
	.con-9{height:80px;text-align:center;margin:0 auto;color:#787878;font-size:14px;}
	.con-9 a {font-size:14px;height:40px;line-height:40px;color:#787878;}
	.con-9 a:hover{color:#FF33CC;}
	
	
/*Í¼*/	
	.con-10{width:100%;height:15px;margin-top:30px;}
	.con-10 img{width:100%;height:12px;margin:0 auto;}
/*end*/	
	.end{width:100%;height:90px;margin:0 auto;position:relative; }
	.end .bg-1{width:150px; height:90px;position:absolute; left:100px;top:10px;background:url(../img/1-22.jpg) no-repeat 0 0;}
	.end .bg-2{width:150px; height:90px;position:absolute; left:220px;top:10px;background:url(../img/1-23.jpg) no-repeat 0 0;}
	
	.end .end-1 a{display:block;color:#535353;font-size:14px;text-align:center;height:20px;line-height:20px;margin-top:20px;}
	.end .end-2 a{display:block;color:#767676;font-size:14px;text-align:center;height:20px;line-height:20px;}	
	.end .end-1 a:hover{color:#FF6600;}
	.end .end-2 a:hover{color:#FF6600;}
	
	
	
	
	
	
	