
/*HOME*/
body{overflow: hidden;}
.loadDiv{ width: 100%; height:100%;background: url(../images/bg-welcome.jpg) ; background-size: cover; position: fixed;left: 0; top: 0; }
.load{ width: 200px; height: 100px; position: absolute; left: 50%; margin-left: -100px; top: 50%;margin-top:-50px; text-align: center;}
.load span{  color: #fff; font-size: 30px; }
.load_line{ width: 200px; height: 20px; border-radius: 10px; background: #fff; 
    margin-bottom: 20px; -overflow: hidden;}
.load_line p{ width: 0; height: 20px; border-radius: 10px; background: #ed6a00;}



.bg{position: relative; left: 0; top: 0; width: 100%;overflow:hidden;opacity:0;}
.home{position: relative; margin: 0 auto; width: 100%; overflow: hidden; background: url(img/bg_home.jpg);}
.home .nav{position: fixed; left: 65px; top: 190px; width: 120px; height: 390px; z-index: 999; overflow: hidden;}
.home .nav li{position: relative; font-size: 24px; font-weight:bold;color: #d7274d;cursor: pointer; margin: 30px 0; padding-bottom: 10px;z-index:1000;}
.home .nav b{position: absolute; left: 0; bottom: 0; height:4px; background:#d7274d;}
.home .nav .icon{font-size: 50px;}
.home .nav .active{color:#f69;}

.home .inside{
    position:absolute;
    width:300px;
    height:300px;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-150px;
}
.home .inside .box{
    width:300px;
    height:300px;
    position:relative;
    transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -webkit-transform:perspective(800px) rotateX(0deg) rotateY(0deg);
    -ms-transform:perspective(800px) rotateX(0deg) rotateY(0deg);
    -moz-transform:perspective(800px) rotateX(0deg) rotateY(0deg);
}
.home .inside .box div{
    position:absolute;
    top:0;
    left:0;
    text-align:center;
    line-height:300px;
    width:100%;
    height:100%;
    font-size:50px;
}
.home .inside .box .front{
    background:rgba(0,255,255,0.3);
    -ms-transform:translateZ(150px);
    -webkit-transform:translateZ(150px);
    -moz-transform:translateZ(150px);
}
.home .inside .box .back{
    background:rgba(255,0,0,0.3);
    -ms-transform:translateZ(-150px);
    -webkit-transform:translateZ(-150px);
    -moz-transform:translateZ(-150px);
}
.home .inside .box .left{
    background:rgba(0,255,0,0.3);
    -ms-transform:translate(-150px,0) rotateY(-90deg);
    -webkit-transform:translate(-150px,0) rotateY(-90deg);
    -moz-transform:translate(-150px,0) rotateY(-90deg);
}
.home .inside .box .right{
    background:rgba(0,0,255,0.3);
    -ms-transform:translate(150px,0) rotateY(90deg);
    -webkit-transform:translate(150px,0) rotateY(90deg);
    -moz-transform:translate(150px,0) rotateY(90deg);
}
.home .inside .box .top{
    background:rgba(255,255,0,0.3);
    -ms-transform:translate(0,-150px) rotateX(90deg);
    -webkit-transform:translate(0,-150px) rotateX(90deg);
    -moz-transform:translate(0,-150px) rotateX(90deg);
}
.home .inside .box .bottom{
    background:rgba(255,0,255,0.3);
    -ms-transform:translate(0,150px) rotateX(-90deg);
    -webkit-transform:translate(0,150px) rotateX(-90deg);
    -moz-transform:translate(0,150px) rotateX(-90deg);
}
.home .txt1{ width:400px; position:absolute; left:65%; top:0px; overflow:hidden; z-index:20}
.home .txt1 img{ width:569px; height:333px}
.home .txt1 .txtCon{ width:316px;padding-left:15px;margin-left: 32px;/border-left: solid 3px #fff; margin-top:32px; margin-bottom:30px;position:relative; left:0; top:0;}
.home .txt1 .txtCon .l1{position: absolute; left: 0;top: -200px; width: 5px; height: 100px; background: #edc92d;}
.home .txt1 .txtCon .l2{position: absolute; left:500px; top:105px; width: 370px; height: 5px; background: #e0a614;}
.home .txt1 .txtCon p{ color:#fff; font-weight:bold; line-height:30px; text-indent:2em;}
.home .txt1 .txtCon .p2{font-size:28px;}
/*ABOUT*/
.about{position: relative; width: 100%; background: #262f37 url(img/lampe.png); background-size: cover;}
.about .bj1,.about .bj2{ width:100%; height:100%; position:absolute; left:0; top:0;}
.about .bj1{ background:url(img/pap3.png) no-repeat; }
.about .bj2{ background:url(img/pap1.png) no-repeat;}

.about .block-1{position: absolute; left:620px; top: 500px; width: 150px; height: 150px; border-radius:50%;background: rgba(18,210,233,0.2); border: 1px solid #6799; cursor: pointer;text-align:center;line-height:150px;color:#fff;}
.about .block-2{position: absolute; left:300px; top: 490px; width: 150px; height: 150px;border-radius:50%; background: rgba(190,34,90,0.2); border: 1px solid #f99; cursor: pointer;}
.about .block-3{position: absolute; left:300px; top: 200px; width: 150px; height: 150px;border-radius:50%; background: rgba(190,34,90,0.2); border: 1px solid #f99; cursor: pointer;}
.box2{width:440px;height:440px;border-radius:50%;background:rgba(129,135,129,0.1);position:absolute;left:300px;top:140px;}

.box2 .font{width:340px;height:100%;color:#fff;font-size:14px;line-height:30px;position:absolute;top:30px;left:50%;margin-left:-170px;}
.box2 .sex{margin-bottom:40px;}
.box2 .more{font-size:16px;color:#fff;position:absolute;top:370px;left:50%;margin-left:-20px;}
.box2 .font p{width:100%;text-align:center;}
.box2 .con2{width:100%;text-align:center;}

.list{width:510px;height:510px;position:absolute;left:800px;top:50px; }
.list li{position:relative;width:150px;height:150px;float:left;margin:10px;}

img{display:block;width:100%;border-radius:30px;}
.list li span{position:absolute;top:0;left:0;width:100%;height:100%;font-size:50px;text-align:center;line-height:150px;background:rgba(255, 255, 255, 0.2); color:pink; font-weight:bold;}
/*WORKS*/

.subjects{
    font-size:100px;
    text-align:center;
    width:100%;
    /*background:green;*/
    position:relative;
    background:url(bgpage3.jpg) no-repeat;
    background-size:100%;
}
.subjects ul{
    width:900px;
    height:600px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-400px;
    margin-top:-260px;
    overflow:hidden;

}
.subjects ul li{
    cursor:pointer;
    float:left;
    font-size:30px;
    width:250px;
    height:250px;
    margin:10px;
    font-weight:bold;
    text-align:center;
    line-height:280px;
    position:relative;
    overflow:hidden;
}
.subjects ul li:nth-child(1){
    border-radius:10px 50px 25px 50px;
    background:aqua;;
}
.subjects ul li:nth-child(2){
    border-radius:50px 50px 50px 50px;
    background:#fdd283;
}
 .subjects ul li:nth-child(3){
    border-radius:50px 10px 50px 25px;
    background:#4499ee;
}
.subjects ul li:nth-child(4){
    border-radius:50px 25px 25px 10px;
    background:pink;
}
.subjects ul li:nth-child(5){
    border-radius:50px 50px 50px 50px;
    background: #fcfc8A;
}
.subjects ul li:nth-child(6){
    border-radius:25px 50px 10px 50px;
    background: #1291A9;
}
.subjects ul li span{
    position:absolute;
    font-size:30px;
    width:250px;
    height:250px;
    opacity:.3;
    left:-280px;
    top:0;
    background:#fff;
    border-radius:30px;
}
/*CONTACT*/ 
 .contact{ width:100%; margin:0 auto;position: relative; background: url(img/bg4.jpg); background-size: cover;padding:80px;}
 .info{ width:400px; margin:0 auto;}
 .info h5{ font-size:22px; line-height:40px; background:url(img/t_orange.png) no-repeat  -250px bottom;}
 .inrCon{ margin-top:40px;}
 p{ height:34px;}
 p img{width: 120px; height: 120px;}
 .resume{ padding:12px 0 0 120px; height:68px;}
 .resume a{ display:block; width: 178px; height:44px; line-height:44px; text-align:center; color:#f69; font-weight:bold;}













