
@charset "utf-8";
/* CSS Document */


@charset "utf-8";
/* 基础css  清除默认样式*/

*{padding:0; margin:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}
body{ font-size:20px;
    font-family:'微软雅黑';}
li{ list-style:none;}
a{ text-decoration:none; color:#000;}
i,em{ font-style:normal;}
strong,b{ font-weight:normal;}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{display:block;clear:both;content:'';}
.clearfix{zoom:1;}
input{outline:none; border:none 0;padding:0;}
textarea{resize:none;}
li{ list-style:none; vertical-align:top;}/*li里浮动,li不浮动，去3像素bug*/
a img{ border:none; }/*a包img：去蓝色边框*/
img{vertical-align:top;} /*去除图片与下边框的间隙*/
th,td{ padding:0;}
table{border-collapse:collapse;}
@media screen and (max-width: 375px) {
    body {
        font-size:12px !important;
    }
    .content .std_pic{width:40px !important;height:40px !important;}

    .reading_ri img,.content_ul img{width:14px !important;height:14px !important;right:-10px !important;}

    .big8 a{margin-left:4px !important;}
    .reading_ri span,.content_ul li span{padding:4px 2px !important;}

}
@media screen and (max-width: 414px) {
    .std_name{margin:0 !important;;}
    .head-block {
        padding-top: 20px !important;;
        padding-bottom: 10px !important;

    }
    .reading_ri{margin-top: 4px !important;;}
    .head-pic img{max-width:100px;max-height:100px;}
}

@media screen and (min-width: 415px) {
    .content_ul li span{padding:6px 20px !important;}
    .reading_ri span{padding:6px 20px !important;}
    .content_ul li{margin-top:10px!important;}
}
@media screen and (max-width: 800px) and (min-width:415px) {
    .content_ul li span{padding:6px 10px !important;}

}
.p-header{margin-bottom:0 !important;}