<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/classIn.css"/>
</head>
<body id="data_class">
<!-- choose class -->
<div    class="btn-group "  style="width:100%;background:#6dc7ea;padding:20px;">
    <button type="button"  class="btn_class btn btn-default dropdown-toggle " style="width:50%;border-radius:20px;margin-left:25%;background:#fff;color:#6dc7ea;border:none;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{data.content[0].className}}
        <span class="glyphicon glyphicon-menu-down" style=""></span>
    </button>
    <ul class="dropdown-menu" >
        <li v-on:click="choose1($index)" v-for="item in data.content"><a href="javascript:;" >{{item.className}}</a></li>
    </ul>
</div>
<section class="panel p-header">
    <!--choose in-out-->
    <header class="panel-heading custom-tab" style="padding:10px 0;background:#2a5365;">
        <ul class="nav nav-tabs" style="border-bottom:none;">
            <li style="padding:0;text-align: center;" class="active col-xs-6 col-lg-6 col-md-6 ">
                <a href="#about-2" data-toggle="tab">
                    班内报告
                </a>
            </li>
            <li style="padding:0;text-align: center;" class="col-xs-6 col-lg-6 col-md-6">
                <a href="#contact-2" data-toggle="tab">
                    班外报告
                </a>
            </li>
        </ul>
    </header>
    <!--choose mission-->
    <div   class="btn-group" style="width:100%;background:#224b5d;padding:20px;">
        <button type="button"  style="width:50%;border-radius:20px;margin-left:25%;background:#fff;color:#6dc7ea;border:none;"  class="btn_miss  btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{sessionName.mission[0].missName}}
            <span class="glyphicon glyphicon-menu-down" style=""></span>
        </button>
        <ul class="dropdown-menu">
            <li v-on:click="choose2($index)" v-for="item in sessionName.mission" ><a href="javascript:;">{{item.missName}}</a></li>
        </ul>
    </div>
</section>
<div class="panel-body">
    <div class="tab-content">
        <!--班内报告内容-->
        <div class="tab-pane active" id="about-2">
            <ul id="content" class="content" style="">
                <li v-for="item in studentData" style="background:#fff;border:1px solid #e7e7e7;margin-top:10px;padding:4px 0px;">
                    <div class="col-xs-2  col-md-2 col-lg-2" style="text-align:center;padding-left:0;padding-right:0;">
                        <img class="std_pic" src="{{item.stdPic}}" v-on:click="getData($index)"/>
                        <p class="std_name">{{item.stdName}}</p>
                    </div>
                    <ul class=" content_ul col-xs-5  col-md-5 col-lg-5">
                        <li >
                            <span class="opas_color">OPAS</span>
                           <span class="pull-right">
                               <em>{{item.oPas.creditSelf}}</em>/<i>{{item.oPas.creditAll}}</i>
                           </span>
                            <img src="images/star.png" v-show="{{item.oPas.complete}}"/>
                        </li>
                        <li>
                            <span class="live_color">live</span>
                           <span class="pull-right">
                               <em>{{item.live.creditSelf}}</em>/<i>{{item.live.creditAll}}</i>
                           </span>
                            <img src="images/star.png" v-show="{{item.oPas.complete}}"/>
                        </li>
                    </ul>
                    <div class="col-xs-5  col-md-5 col-lg-5">
                        <div class="reading_ri">
                            <span class="reading_color">Reading</span>
                           <span class="pull-right">
                               <em>{{item.Reading.creditSelf}}</em>/<i>{{item.Reading.creditAll}}</i>
                           </span>
                            <img src="images/star.png" v-show="{{item.oPas.complete}}"/>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                </li>
            </ul>
        </div>
        <!--班外报告内容-->
        <div  class="tab-pane" id="contact-2">
            <!--<button class="btn btn-block btn1" type="button">FL-KS-010101</button>-->
            <div class="row row_padding1">
                <div class="col-xs-4 col-md-4">
                    <dl class="dlList">
                        <dt><img src="{{zj_img}}"></dt>
                        <dd>
                            <h1>{{name}}</h1>
                            <p>{{title}}</p>
                        </dd>
                    </dl>
                </div>
                <div class="col-xs-8 col-md-8 big8">
                        <a href="student-mission.html?id={{$index}}" v-on:click="getData($index)" v-for="item in studentData">
                            <img src="{{item.stdPic}}" alt=""/>
                        </a>

                </div>
            </div>

            <div class="row row_padding">
                <div class="col-xs-6 col-md-6 cen">
                    <span class="box2">OPAS <span>{{missName}}</span></span><br>总学分
                    <p class="wan">{{oPas.creditAll}}</p>
                </div>
                <div class="col-xs-6 col-md-6 big_box">
                    <div class="box col-xs-12 col-md-12">
                        <div class="col-xs-6 col-md-6 box1">
                            学分排名
                        </div>
                        <div class="col-xs-6 col-md-6 box1 box2">
                            <span>{{oPas.creditRankSelf}}</span>/<span>{{oPas.creditRankAll}}</span>
                        </div>
                    </div>
                    <div class="box col-xs-12 col-md-12">
                        <div class="col-xs-6 col-md-6 box1">
                            正确率排名
                        </div>
                        <div class="col-xs-6 col-md-6 box1 box2">
                            <span>{{oPas.correctRateRankSelf}}</span>/<span>{{oPas.correctRateRankAll}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row_padding">
                <div class="col-xs-6 col-md-6 cen">
                    <span class="box3">Reading <span>{{missName}}</span></span><br>总学分
                    <p class="wan1">{{Reading.creditAll}}</p>
                </div>
                <div class="col-xs-6 col-md-6 big_box">
                    <div class="box col-xs-12 col-md-12">
                        <div class="col-xs-6 col-md-6 box1">
                            学分排名
                        </div>
                        <div class="col-xs-6 col-md-6 box1 box3">
                            <span>{{Reading.creditRankSelf}}</span>/<span>{{Reading.creditRankAll}}</span>
                        </div>
                    </div>
                    <div class="box col-xs-12 col-md-12">
                        <div class="col-xs-6 col-md-6 box1">
                            Quiz正确率
                        </div>
                        <div class="col-xs-6 col-md-6 box1 box3">
                            <span>{{Reading.correctRateRankSelf}}</span>/<span>{{Reading.correctRateRankAll}}</span>
                        </div>
                    </div>
                    <div class="box col-xs-12 col-md-12">
                        <div class="col-xs-6 col-md-6 box1">
                            跟读排名
                        </div>
                        <div class="col-xs-6 col-md-6 box1 box3">
                            <span>{{Reading.genduRankSelf}}</span>/<span>{{Reading.genduRankAll}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row_padding">
                <div class="col-xs-6 col-md-6 cen">
                    <span class="box4">Live <span>{{missName}}</span></span><br>学分
                    <p class="wan2">{{live.creditAll}}</p>
                </div>
                <div class="col-xs-6 col-md-6 big_box">
                    <div class="box col-xs-12 col-md-12">
                        <div class="col-xs-6 col-md-6 box1">
                            学分排名
                        </div>
                        <div class="col-xs-6 col-md-6 box1 box4">
                            <span>{{live.creditRankSelf}}</span>/<span>{{live.creditRankAll}}</span>
                        </div>
                    </div>
                    <div class="box col-xs-12 col-md-12">
                        <div class="col-xs-6 col-md-6 box1">
                            Live正确率
                        </div>
                        <div class="col-xs-6 col-md-6 box1 box4">
                            <span>{{live.correctRateRankSelf}}</span>/<span>{{live.correctRateRankAll}}</span>
                        </div>
                    </div>
                    <div class="box col-xs-12 col-md-12">
                        <div class="col-xs-6 col-md-6 box1">
                            跟读排名
                        </div>
                        <div class="col-xs-6 col-md-6 box1 box4">
                            <span>{{live.genduRankSelf}}</span>/<span>{{live.genduRankAll}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/classIn.js"></script>
</html>