a:hover {
  color: #f93;
}
body {
  background: #f2f2f2;
}
.top {
  height: 50px;
}
.main {
  width: 320px;
  margin: 0 auto;
}
.main .banner {
  position: relative;
  width: 320px;
  height: 150px;
  background: url(../img/bg.png);
}
.main .banner input {
  position: absolute;
  left: 10px;
  bottom: 10px;
  background: url(../img/fangda.png) no-repeat 15px 10px #ffffff;
  text-indent: 36px;
  out-line: none;
  border: 0;
  width: 300px;
  height: 36px;
}
.main .nav {
  margin-bottom: 12px;
}
.main .nav a {
  position: relative;
  height: 68px;
  width: 25%;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
  background: #fff;
  text-align: center;
}
.main .nav a span {
  position: absolute;
  left: 23px;
  top: 10px;
  display: block;
  width: 35px;
  height: 35px;
  margin-bottom: 3px;
}
.main .nav a .s-1 {
  background: url(../img/ico1.png);
  background-size: 100%;
}
.main .nav a .s-2 {
  background: url(../img/ico2.png);
  background-size: 100%;
}
.main .nav a .s-3 {
  background: url(../img/ico3.png);
  background-size: 100%;
}
.main .nav a .s-4 {
  background: url(../img/ico4.png);
  background-size: 100%;
}
.main .nav a i {
  position: absolute;
  left: 28px;
  bottom: 7px;
}
.main .nav .last {
  border-right: 0;
}
.ads {
  margin-bottom: 12px;
}
.ads a {
  display: block;
}
.ads .a-1 {
  border-right: 2px solid #f4f4f4;
}
.ads .a-2 {
  border-bottom: 1px solid #f4f4f4;
}
.price {
  position: relative;
  width: 320px;
  height: 41px;
  line-height: 41px;
  text-indent: 15px;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
.price .icon {
  position: absolute;
  left: 0;
  top: 10px;
  width: 5px;
  height: 21px;
  background: #f37e0b;
}
.pri-in {
  width: 320px;
  height: 86px;
}
.pri-in a {
  box-sizing: border-box;
  width: 80px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
.pri-in .spe {
  border-right: 0;
}
.pinpai {
  position: relative;
  width: 320px;
  height: 41px;
  line-height: 41px;
  text-indent: 15px;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
.pinpai .icon {
  position: absolute;
  left: 0;
  top: 10px;
  width: 5px;
  height: 21px;
  background: #4881c9;
}
.pinpai-in {
  width: 320px;
  height: 156px;
}
.pinpai-in a {
  box-sizing: border-box;
  width: 80px;
  height: 78px;
  text-align: center;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
.pinpai-in .spe {
  border-right: 0;
}
.chexing {
  position: relative;
  width: 320px;
  height: 41px;
  line-height: 41px;
  text-indent: 15px;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
.chexing .icon {
  position: absolute;
  left: 0;
  top: 10px;
  width: 5px;
  height: 21px;
  background: #48c242;
}
.chexing-in {
  width: 320px;
  height: 86px;
  margin-bottom: 12px;
}
.chexing-in a {
  box-sizing: border-box;
  width: 80px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
.chexing-in .spe {
  border-right: 0;
}
.mendian {
  width: 320px;
  height: 58px;
  background: #fff;
}
.mendian .md {
  width: 159px;
  height: 58px;
  border-right: 1px solid #ddd;
  background: url(../img/esc_23.png) no-repeat 97px 0;
}
.mendian .md h3 {
  margin: 12px 0 4px 13px;
  color: #333;
}
.mendian .md p {
  color: #c2c2d6;
  margin-left: 13px;
}
.mendian .md i {
  color: #ff5500;
  font-weight: bold;
}
.mendian .jm {
  width: 160px;
  height: 58px;
  background: url(../img/esc_25.png) no-repeat 111px 18px;
}
.mendian .jm h3 {
  margin: 12px 0 4px 13px;
  color: #333;
}
.mendian .jm p {
  color: #c2c2d6;
  margin-left: 13px;
}
.bottom {
  height: 80px;
  background: #fff;
}
.bottom p {
  text-align: center;
}
.bottom .p-1 {
  padding: 17px 0 13px 0;
}
.bottom .p-2 {
  font-size: 11px;
  color: #a8a8c8;
}
.bottom i {
  color: #ff5500;
  font-weight: bold;
}
