/*µ¼º½*/
	body{height:5000px;}
	.nav{width:100%;height:38px;;background:#fafafa; border-bottom:1px solid #dfdfdf;}
	.list-1{width:1200px;height:38px;padding-left:100px;}
	.list-1 li a{font-size:12px;color:#8c8c8c;border-right:1px solid #dfdfdf;padding:0 15px;hieght:38px;line-height:38px;}
	.list-1 no{border-right:0;}

	.logo{width:930px;;height:80px;margin:0 auto;margin-top: 20px;}
	.logo .lg-left{width:70px;height:70px;background:url(../img/xiaomi2.jpg) no-repeat;text-indent:-999px;}
	.logo .lg a{display:block;width:70px;height:70px;}
	
	.logo .lg-r{width:564px;height:70px;}
	.logo .lg-r .lg-1{background:url(../img/xiaomi1.jpg) no-repeat 420px top;color:#8c8c8c;text-align:right;margin-bottom:13px;}
	.logo .lg-2{width:420px;height:40px;border:1px solid #dfdfdf;}
	.logo .lg-3{width:128px;height:40px;text-align:center;line-height:40px;background:url(../img/xiaomi4.jpg) no-repeat 30px center #ffdb3d;}
/*À¸Ä¿*/
	
	.col-1{width:930px;height:50px;margin:0 auto;}
	.col dt{background:#ff4a00; font-size:18px; color:#fff; line-height:50px; font-family:'Î¢ÈíÑÅºÚ'; text-indent:20px;width:250px; height:50px;}
	.col dd{height:50px;line-height:46px; background:#404144;color:#fff;}
	.col .dd-last{padding-right:55px;}
	.col dd a{display:block; color:#fff;font-size:16px; font-family:'Î¢ÈíÑÅºÚ';  line-height:50px;padding:0 15px;}
	.col dd:hover{background:#F90;}
/*con-2*/
	.con-2{width:930px;height:590px;margin:0 auto;}
	.c2{width:247px;height:590px;}
	.c2 dl{width:246px;height:73px;color:#6d6d6d;font-family:'Î¢ÈíÑÅºÚ';;border:1px solid #dfdfdf; border-top:none;}
	.c2 dl dt{color:#ff4a00;font-size:13px;font-family:'Î¢ÈíÑÅºÚ';padding-top:15px;padding-left:15px;}
	.c2 dl dd{padding-left:15px;font-size:13px; margin-top:5px;font-family:'Î¢ÈíÑÅºÚ';}
	
	.c2-1{width:682px; height:420px; }
	.c2-2{width:226px; height:170px; border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf;}
	.c2-3{width:226px; height:170px; border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf;}
	.c2-4{width:227px; height:170px; border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf;}
/*con-3*/
	.con-3{width:930px;height:60px;margin:0 auto;}
	.c3-1{font-size:16px;color:#5f335f;padding-top:30px;}
	.con-3 .c3-1 span{color:#836d6d;font-size:14px;}
	.c3-2{width:28px;height:18px;border:1px solid #dfdfdf;text-align:center;line-height:18px;margin-top:30px;}
	.c3-3{width:28px;height:18px;border:1px solid #dfdfdf;margin-top:30px;;}
	
/*con-4*/	
	
	.con-4{width:930px;height:309px;margin:0 auto;border:1px solid #dfdfdf;}
	.con-4 img{margin:20px 0 20px 50px;}
	.con-4 .c4-left{width:309px;height:309px;}
	.con-4 .c4-m{width:309px;height:309px;border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf;}
	.con-4 .c4-right{width:309px;height:309px;}
	.con-4 a{display:block;}
/*×ó*/	
	.c4-left .p-1 a{font-size:14px;color:#5f335f;width:308px; text-align:center;margin-bottom:7px;}
	.c4-left .p-2 a{font-size:12px;width:308px; text-align:center; color:#8c8c8c;}
	.con-4 p a:hover{text-decoration:underline;}
/*ÖÐ*/	
	.c4-m .p-1 a{font-size:14px;color:#5f335f;width:308px; text-align:center;margin-bottom:7px;}
	.c4-m .p-2 a{font-size:12px;width:308px; text-align:center; color:#8c8c8c;}
	.con-4 p a:hover{text-decoration:underline;}
/*ÓÒ*/	
	.c4-right .p-1 a{font-size:14px;color:#5f335f;width:308px; text-align:center;margin-bottom:7px;}
	.c4-right .p-2 a{font-size:12px;width:308px; text-align:center; color:#8c8c8c;}
	.con-4 p a:hover{text-decoration:underline;}
/*con-5*/	
	
	.con-5{width:930px;height:930px;border:1px solid #dfdfdf;margin:0 auto;}	
	.con-5 .c5-left{width:620px;height:930px;border:1px solid #dfdfdf;}
	
	 .c5-right{width:308px; height:932px; background:#fafafa;}
	.c5-top li{width:308px; height:126px; border-bottom:1px solid #dfdfdf;}
	.c5-top .left{width:179px;}
	.c5-top .p-2{font-size:19px; color:#333; margin:14px 0 0 30px;}
	.c5-top .p-3{color:#6d6d6d; margin:5px 0 0 30px;}
	.c5-top .p-4{color:#f32f39; margin:6px 0 0 30px;}
	.c5-top .p-3 i{color:#8c8c8c; text-decoration:line-through;}
	
	.con-5 .c5-mid{width:308px; height:279px; border-bottom:1px solid #dfdfdf;}
	.c5-mid .p-1{font-size:17px; padding:29px 0 15px 30px;}
	.c5-mid input{width:246px; height:38px; margin:0 0 10px 30px;}
	.c5-mid .p-2{color:#6d6d6d; margin:11px 0 20px 30px;}
	.c5-mid .p-2 i{font-size:15px;}
	.c5-mid .a-1{display:block; width:248px; height:40px; background:#dcdee4; line-height:40px; text-align:center; color:#fff; margin-left:30px;}
	.c5-bot dt{font-size:17px; margin:28px 0 10px 30px;}
	.c5-bot dd{width:248px; height:45px; border-bottom:1px solid #dfdfdf; margin:0 30px;}
	.c5-bot dd a{display:block; width:200px; height:15px; padding:15px 0 16px 0;}
	.c5-bot .dd-last{border-bottom:none;}
	.c5-bot dd span{margin-top:14px;}
/*con-6*/	
	.con-6{width:930px;height:60px;margin:0 auto;}
	.c6-1{font-size:16px;color:#5f335f;padding-top:30px;}
/*con-7*/		
	.con-7{width:930px;height:620px;border:1px solid #dfdfdf;margin:0 auto;}
	.c7-left{width:620px;height:620px;}
	.c7-right{width:306px;height:620px;}
	.con-7 .c7-top{width:623px;height:310px;border:1px solid #dfdfdf;}
	.con-7 .c7-top .c7-con{width:309px; height:310px;s}
	.c7-top h3{font-size:34px; font-family:'ºÚÌå'; color:#323232; font-weight:bold;margin:40px 0 20px 30px;}
	.c7-top p{font-size:14px; color:#6d6d6d; margin:8px 0 28px 30px;}
	.c7-top span{font-size:23px; font-family:'ºÚÌå'; color:#343434; margin:0 0 0 30px;}
	
	 .c7-bot .c7-b-left{width:309px; height:309px; border-right:1px solid #dfdfdf;}
	 .c7-b-left p{font-size:12px;padding-left:30px;height:30px;line-height:30px;}
	.c7-b-left i{color:#8c8c8c; text-decoration:line-through;}
	.c7-b-left img{margin-left:130px;}
	
	.c7-right li{width:306px;height:102px;border-bottom:1px solid #dfdfdf;}
	.c7-right .li-1 p{font-size:24px;font-family:'Î¢ÈíÑÅºÚ';height:102px;line-height:102px;}
	.c7-right .li-1 span{color:#ff4a00;font-size:24px;padding-left:20px;}

	.c7-right .li-2 span{font-weight:bold;font-size:36px;color:#ff4a00;padding-left:20px;padding-top:20px;}
	.c7-right .li-2 p{font-family:'Î¢ÈíÑÅºÚ';font-size:14px;margin-top:20px;margin-left:10px;}
	.c7-right .li-2 img{margin:20px 0 0 20px;}
/*con-8*/	
	.con-8{width:930px;height:60px;margin:0 auto;}
	.c8-1{font-size:16px;color:#5f335f;padding-top:30px;}
/*con-9*/	
	.con-9{width:928px; height:410px; border:1px solid #dfdfdf;margin:0 auto;}
	.con-9 .li-1{width:309px; height:410px;}
	.con-9 .li-2{width:309px; height:410px; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf;}
	.con-9 .li-3{width:308px; height:410px;}
	.con-9 .c9{width:258px; height:32px; margin:10px; background:#f3f3f3; color:#6d6d6d; padding:12px 15px;}
	.con-9 .pro{display:block;}
	.con-9 .pro img{display:block; margin:0 auto;}
	.con-9 .tit{display:block; margin:32px 0 0 30px; color:#333;}
	.con-9 p{margin:5px 0 5px 30px; color:#8c8c8c;}
	.con-9 span{margin-left:30px;}
	.con-9 .pro{display:block; margin-top:55px;}
	.con-9 a:hover{text-decoration:underline;}
/*con-10*/	
	.con-10{width:930px;height:60px;margin:0 auto;}
	.c10-1{font-size:16px;color:#5f335f;padding-top:30px;}	
/*con-11*/		
	.con-11{width:928px; height:309px; border:1px solid #dfdfdf;margin:0 auto;}
	.con-11 .li-1{width:309px; height:309px;}
	.con-11 .li-2{width:309px; height:309px; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf;}
	.con-11 .li-3{width:308px; height:309px;}
	.con-11 .icon{width:70px; height:20px; background:#f32f39; line-height:20px; text-align:center; color:#fff; margin-left:215px;}
	.con-11 p{color:#333; margin:13px 0 0 30px;}
	.con-11 span{color:#333; margin-left:30px;}
	.con-11 i{color:#8c8c8c; text-decoration:line-through;}
	.con-11 .pro{display:block; margin:30px auto 0;}
	.con-11 .pro img{display:block; margin:0 auto;}
	.con-11 a:hover{text-decoration:underline;}
/*con-12*/	
	.con-12{width:930px;height:60px;margin:0 auto;}
	.c12-1{font-size:16px;color:#5f335f;padding-top:30px;}	
/*con-14*/
	.con-14{width:930px;height:60px;margin:0 auto;}
	.c14-1{font-size:16px;color:#5f335f;padding-top:30px;}		
/*con-15*/	
	.con-15{width:928px; height:335px; border:1px solid #dfdfdf;margin:0 auto;}
	.con-15 .li-1{width:309px; height:309px;}
	.con-15 .li-2{width:309px; height:309px; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf;}
	.con-15 .li-3{width:308px; height:309px;}
	.con-15 p{color:#333; margin:32px 0 0 30px;}
	.con-15 span{color:#333; margin-left:30px;}
	.con-15 .pro{display:block; margin:30px auto 0;}
	.con-15 .pro img{display:block; margin:0 auto;}
	.con-15 a:hover{text-decoration:underline;}
/*½áÎ²*/		
	.xiaomi-bottom{background:#fafafa;}
	
	.box-2{height:534px; background:#fafafa; width:930px; margin:0 auto;}
	
	.tools{height:154px; border-bottom:1px solid #dfdfdf;}
	.tools .li-1{width:186px; height:154px; background:url(img/xiaomiplus_03.jpg) no-repeat 73px 47px;}
	.tools .li-2{width:186px; height:154px; background:url(img/xiaomiplus_05.jpg) no-repeat 73px 47px;}
	.tools .li-3{width:186px; height:154px; background:url(img/xiaomiplus_07.jpg) no-repeat 73px 47px;}
	.tools .li-4{width:186px; height:154px; background:url(img/xiaomiplus_09.jpg) no-repeat 73px 47px;}
	.tools .li-5{width:186px; height:154px; background:url(img/xiaomiplus_11.jpg) no-repeat 73px 47px;}
	.tools li p{font-size:15px; color:#333; text-align:center; margin-top:94px;}
	
	.state{height:118px; border-bottom:1px solid #dfdfdf; padding:40px 0;}
	.state dl{width:128px; border-right:1px solid #dfdfdf; padding-left:20px;}
	.state dl dt{font-size:17px; margin-bottom:10px;}
	.state dl dd{height:27px; line-height:27px;}
	.state dd a{color:#6d6d6d;}
	.cont{width:185px; height:118px;}
	.cont p{text-align:center; line-height:21px;}
	.cont .p-1{font-size:20px; margin-bottom:5px;}
	.cont .p-2,.cont .p-3{color:#6d6d6d;}
	.cont a{display:block; width:120px; height:30px; color:#fff; background:#ff4a00; margin:13px auto 0; text-align:center; line-height:30px;}
	.box-2 a:hover{text-decoration:underline;}
	
	.xm-last{width:930px; padding-top:35px;}
	.xm-last .con{width:930px; height:40px; margin-bottom:24px; position:relative;}
	.xm-last .list{width:705px; font-size:11px; color:#333;}
	.xm-last a{font-size:11px; color:#333;}
	.xm-last dd{padding:0 5px; border-right:1px solid #333;}
	.xm-last .spe{border-right:0;}
	.xm-last p{line-height:20px;}
	.xm-last .language{position:absolute; right:0; top:0; width:199px; height:36px; border:1px solid #dfdfdf; background:#fff; line-height:36px; text-indent:1em; color:#8c8c8c;}
	
	
	
	
	
	
	
	
	
	
	
	