
.pagination {
  position: absolute;
  z-index: 20;
  left: 20%;
  bottom: -14px;
  margin: 0 !important;
  padding: 0 !important;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #fff;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #ccc;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background: #00b2e5;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #00b2e5 !important;
}

.featured {
	width: 84%;
	margin: 0 auto;
	height: 200px;
    font-size: 14px;
	margin-bottom: -25px;
}
.featured .swiper-slide {
	border-radius: 5px;
	height: 160px;
	width: 120px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.big{
  width: 120px;
  height: 160px;
  text-align: center;
}
.line{
  line-height: 30px;
}
.dlList{
  height: 140px;
  width: 120px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-box-shadow:-2px 3px 3px rgba(225,225,225,0.5);
  -moz-box-shadow: -2px 3px 3px rgba(255,225,225,0.5);
  box-shadow: -2px 3px 3px rgba(225,225,225,0.5);
}
.dlList dl dt{
  width: 120px;
  height: 73px;
  margin: 10px 0 !important;
  text-align: center;
}
.dlList dl dt img{
  width: 70px;
  height: 73px;
}
.dlList dl dd{
  height: 30px;
  width: 120px;
  text-align: center;
  margin: 0 !important;
}
.featured a {
	display: block;
	width: 100%;
	height: 100%;
}